/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: 'roboto', sans-serif ;*/
/*    text-decoration: none;*/
/*}*/

footer{
    margin: 0;
    padding: 0 0px 0px 0;
    /*box-sizing: border-box;*/
    font-family: 'roboto', sans-serif ;
    text-decoration: none;
    width: 100%;
    /*position: fixed;*/
    bottom: 0;
    left: 0;
    color:white;
    background-color: #2C0C3D;
}

footer .content{
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*footer .content p{*/
/*    color: #fff;*/
/*}*/

footer .content .box{
    width: 33%;
    transition: all 0.4s ease;
}

footer .content .topic{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

/*footer .content p{*/
/*    text-align: justify;*/
/*}*/

/*footer .content .lower .topic{*/
/*    margin: 24px 0 5px 0;*/
/*}*/

/*footer .content .lower i{*/
/*    padding-right: 16px;*/

footer .content .first{
    padding-left: 80px;
    text-decoration: none;
}
footer .content .middle{
    padding-right: 200px;
    text-align:center;
    font-size:15px;
    font-weight:bold;
    /*position: relative;*/
}

footer .content .middle a{
    line-height: 32px;
}
footer .content .third{
    padding-right:70px;
    margin-top:20px;
}

/*footer .content .right input[type="text"]{*/
/*    height: 45px;*/
/*    width: 100%;*/
/*    outline: none;*/
/*    color: #d9d9d9;*/
/*    background: #000;*/
/*    border-radius: 5px;*/
/*    padding-left: 10px;*/
/*    font-size: 17px;*/
/*    border: 2px solid #222222;*/
/*}*/
/*footer .content .right input[type="submit"]{*/
/*    height: 42px;*/
/*    width: 100%;*/
/*    font-size: 18px;*/
/*    color: #d9d9d9;*/
/*    background: #eb2f06;*/
/*    outline: none;*/
/*    border-radius: 5px;*/
/*    letter-spacing: 1px;*/
/*    cursor: pointer;*/
/*    margin-top: 12px;*/
/*    border: 2px solid #eb2f06;*/
/*    transition: all 0.3s ease-in-out;*/
/*}*/
/*.content .right input[type="submit"]:hover{*/
/*    background: none;*/
/*    color:  #eb2f06;*/
/*}*/
/*footer .content .media-icons a{*/
/*    font-size: 16px;*/
/*    height: 45px;*/
/*    width: 45px;*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    line-height: 43px;*/
/*    border-radius: 5px;*/
/*    border: 2px solid #222222;*/
/*    margin: 30px 5px 0 0;*/
/*    transition: all 0.3s ease;*/
/*}*/

/*.content .media-icons a:hover{*/
/*    border-color: #eb2f06;*/
/*}*/

footer .bottom {
    margin: 0;
    bottom: 0;
    left: 0;
    color:black;
    background-color:white;
    /*position:fixed;*/
    width:100%;
    height:20px;
    padding:10px 0px 10px 0px;
    font-size :14px;
    font-family: "Roboto" , sans-serif;
    line-height: 18px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
}

/*footer a{*/
/*    transition: all 0.3s ease;*/
/*}*/
/*footer a:hover{*/
/*    color: #eb2f06;*/
/*}*/

ul {
    position:relative;
    top:20%;
    left:54%;
    transform: translate(-50%, -50%);
    margin:0;
    padding:0;
    display:flex;
}

ul li {
    list-style: none;
}

ul li a {
    /*position: relative;*/
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 100%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.9);
    background: linear-gradient(0deg, mediumpurple, #fff);
    transition: .10s;
}

ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.9);
    text-decoration:none;
}

ul li a .fa {
    width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .10s;
}


ul li:nth-child(1) a:hover .fa  {
    color: #00008B;
}

ul li:nth-child(2) a:hover .fa {
    color:#8b0000;
}

ul li:nth-child(3) a:hover .fa {
    color: #E1306C;
}

ul li:nth-child(4) a:hover .fa {
    color: red;
}

#chatbot{
    cursor: pointer;
}

@media (max-width:1100px) {
    footer .content .middle{
        padding-left: 50px;
    }

}
@media (max-width:950px){
    footer .content .box{
        width: 50%;
    }
    .content .right{
        margin-top: 40px;
    }
}
@media (max-width:560px){
    footer{
        position: relative;
    }
    footer .content .box .bottom{
        width: 100%;
        margin-top: 30px;
    }
    footer .content .middle{
        padding-left: 0;
    }
}
