<!DOCTYPE HTML>
{% load static  %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width,1.0">
    <link rel ="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>Password Updated</title>
</head>
<style>
    h1{
        text-align: center;
        color:#2C0C3D;
        font-family: Roboto, sans-serif;
        text-transform: uppercase;
    }
    .complete{
        margin-left:450px;
        height:400px;
        width:400px;
    }

    .logo{
        height: 100px;
        width : 160px;
        margin-top:50px;
        margin-left:550px;
    }
</style>

<div class="container">

    <div class="d-flex flex-column">
        <a href="http://127.0.0.1:8000/"><img src="{% static 'images/XET logo.png' %}" class="logo"> </a>
        <H1> Your password has been updated!</H1>
        <img src = "{% static 'images/complete.gif' %}" alt = "password changed" class="complete">
    </div>
</div>
</html>