<!DOCTYPE HTML>
{% load static  %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width,1.0">
    <link rel ="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="header">
    <a href="http://127.0.0.1:8000/"> <img src = "{% static 'images/XET logo.png' %}" alt = "logo" > </a>
    <div class="header-right">
        {% if user.is_authenticated %}
            <a class="links" href="profile">Profile</a>
            <a class="links" href="{%  url 'logout' %}">LogOut</a>
        {% else %}
            <a class="links" href="accounts" >SignUp</a>
            <a class="links" href="login">Login</a>
        {% endif %}

    </div>
</div>

<div class="topnav" id="myTopnav">
    <a href="http://127.0.0.1:8000/">HOME</a>
    <div class="dropdown">
        <button class="dropbtn">SUBJECTS
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="math">Maths</a>
            <a href="science">Science</a>
            <a href="#">Pre-school</a>
            <a href="#">Language</a>
        </div>
    </div>
    <a href="common">COMMON TOOLS</a>
    <a href="worksheet">WORKSHEETS</a>
    <a href="about" class="active" style="width:80px; height: 15px;margin-top:2px;">ABOUT</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
&nbsp
&nbsp
<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2 class="abt-topic">Our Aim</h2>
                <p>
                    Our aim is to make <span style="color:#2C0C3D; font-weight: 900">'Xplore EdTech' </span> site where educators from around the globe can easily
                    access the Educational Technology that best suits the age-group and the subject they teach.
                    By implementing these tools in the classroom, students  will interact and engage giving them
                    the learning experience as well.<br>
                    We want our educators to <i>  <span style="color:#2C0C3D; font-weight: 900">
                    spark with educational technolgies </span> </i> in their classroom!
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container" id="zoomIn">
                <img src = "{% static 'images/aims.png' %}" alt = "logo" class="image">
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container" id="zoomIn">
                <img src = "{% static 'images/whatwedo (2).png' %}" alt = "logo" class="image" style="margin:-60px 0 0 70px">
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2 class="abt-topic">What We Do</h2>
                <p>We provide Educational Technology for educators to implement in the classroom by providng
                them with the tools and how it can be used. All guidance are provided in the form of links and
                 educators can access them making it less time consuming.
                In addition, worksheets can also be purchased that have been uploaded by our fellow users.</p>
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2><a href ="donations" class="abt-topic" style="text-decoration: none">Donation Process </a></h2>
                    <p>By purchasing the worksheets, all income gained through this will help
                        under-priviledged students who are finding it hard to have the basic needs to study. <br>
                        We are partnered with <a href="">Organization 01</a> &
                        <a href=" ">Organization 02</a> for this cause.
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container" id="zoomIn">
                    <img src = "{% static 'images/donation.png' %}" alt = "logo" class="image"
                         style="margin-top:-40px">
                </div>
            </div>
        </div>
    </div>

<footer>
    <div class="content">
        <div class="left box">
            <div class="first">
                <br>
                <div class="topic">LEARN MORE</div> <br>
                > <a href="about" style="padding-left:10px; color:white;  text-decoration: none;">  About us </a> <br> <br>
                > <a href="donations" style="padding-left:10px; color:white;  text-decoration: none;">  Donations <br> </a>
            </div>
        </div>

        <div class="middle">
            <br>
            <div class="topic" style="padding-left:20px;">CONNECT WITH US ON</div> <br>
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            </ul>
        </div>

        <div class="third">
            <script src="{% static 'scripts/chatbot.js' %}" type="text/javascript" style="padding-bottom: 100px">  </script>
        </div>

        <div class="bottom">
            All Rights Reserved. Designed and Developed by Rahumath Rumy
        </div>
    </div>

</footer>



<script>
    function myFunction() {
        let x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

<script>
    element = document.getElementById("chatbot");

    element.addEventListener("click", function(e) {
        e.preventDefault;

        element.classList.remove("bounce");

        element.offsetWidth = element.offsetWidth;

        // -> and re-adding the class
        element.classList.add("bounce");
    }, false);
</script>

</body>
</html>
