<!DOCTYPE HTML>
{% load static  %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width,1.0">
    <link rel ="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>Donate</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
    .bg-img{
        background-image: url({% static 'images/bgt.png' %});
        background-size: 1450px 750px;
        line-height :15px;
    }
</style>

<body bgcolor="white">

<div class="header">
    <a href="#home"> <img src = "{% static 'images/XET logo.png' %}" alt = "logo" > </a>
    <div class="header-right">
        {% if user.is_authenticated %}
            <a class="links" href="profile">Profile</a>
            <a class="links" href="{%  url 'logout' %}">LogOut</a>

        {% else %}
            <a class="links" href="accounts" >SignUp</a>
            <a class="links" href="login">Login</a>
        {% endif %}
    </div>
</div>

<div class="topnav" id="myTopnav">
    <a href="http://127.0.0.1:8000/" >HOME</a>
    <div class="dropdown">
        <button class="dropbtn">SUBJECTS
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Maths</a>
            <a href="#">Science</a>
            <a href="#">Computing</a>
        </div>
    </div>
    <a href="#commontools">COMMON TOOLS</a>
    <a href="#worksheets">WORKSHEETS</a>
    <a href="about" class="active">DONATE</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

&nbsp
&nbsp
<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2 class="abt-topic">LETS HELP A STUDENT</h2>
                <p>Do you have worksheets that you would like to contribute to your peers around the globe? <br>
                    Do you want to be part of a good cause and help the underprivileged students
                    by giving them the basic need? <br>
                    Well, click below and upload worksheets that you'll have and help educate a child!
                </p>
                    <a class="link"  onclick="openForm()">Click here to upload!</a> <br> <br>

                <div class="form-popup" id="myForm" >
                    <div class="form-container">
                        <img src="https://img.icons8.com/fluency/28/000000/close-window.png"  onclick="closeForm()"
                        style="margin-left:280px;">
                        <img src = "{% static 'images/submit icon.png' %}" alt = "confirmation" class="confirm"> </a>

                        <p>By clicking <b>“Yes”</b> you agree that you have the permission of your institution to upload and/or
                            you assure that the worksheet you will upload is of your own work and not the work of someone else.
                            <br>
                            In addition, you understand that <b>no income</b> will be incurred to you and all proceeds received
                            through the purchase of your worksheets will be used for the needy students to
                            help them in their education.
                        </p>

                        <a class="link1" href="upload">YES</a>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>
    <div class="column">
        <div class="card">
            <div class="container" id="zoomIn" style="padding-left:150px;">
                <img src = "{% static 'images/pic.png' %}" alt = "logo" class="image">
            </div>
        </div>
    </div>
</div>


<div class="slideshow">
    <h2 class="abt-topic" style="padding-left:40px;">A Little Goodness, Goes A Long Way!</h2>
    <div class="fade">
        <img src="{% static 'images/sampledonation2.jpg' %}" >
        <div class="text">With the donation we received, we bought a school bag for a girl</div>
    </div>

    <div class="fade">
        <img src="{% static 'images/sampledonation1.jpg' %}" >
        <div class="text">With the donation we received, we bought educational resource for a school.</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
    </div>

</div>
<br>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("fade");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }
</script>

</div>

<footer>
    <div class="content">
        <div class="left box">
            <div class="first">
                <div class="topic">LEARN MORE</div>
                > <a href="about" style="padding-left:10px; color:white;  text-decoration: none;">  About us </a> <br> <br>
                > <a href="donations" style="padding-left:10px; color:white;  text-decoration: none;">  Donations <br> </a>
            </div>
        </div>

        <div class="middle">
            <div class="topic" style="padding-left:20px;">CONNECT WITH US ON</div> <br>
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            </ul>
        </div>

        <div class="third">
            <img src="{% static 'images/chatbot (1).png' %}" alt = "chatbot" id="chatbot">
        </div>

        <div class="bottom">
            All Rights Reserved. Designed and Developed by Rahumath Rumy
        </div>
    </div>

</footer>



<script>
    function myFunction() {
        let x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

<script>
    element = document.getElementById("chatbot");

    element.addEventListener("click", function(e) {
        e.preventDefault;

        element.classList.remove("bounce");

        element.offsetWidth = element.offsetWidth;

        // -> and re-adding the class
        element.classList.add("bounce");
    }, false);
</script>

</body>
</html>
