<!DOCTYPE HTML>
{% load static  %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width,1.0">
    <title>ExploreEdTech</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
    .bg-img{
        background-image: url({% static 'images/bgt.png' %});
        background-size: 1450px 750px;
        line-height :15px;
    }
</style>

<body class="bg-img">

<!--<h1>hey {{name}}</h1>
<p> this is my first python project</p> -->

<div class="header">
    <a href="#home"> <img src = "{% static 'images/XET logo.png' %}" alt = "logo" > </a>
    <div class="header-right">
    <a class="links" href="accounts" >SignUp</a>
    <a class="links" href="sample">Login</a>
    </div>
</div>

<div class="topnav" id="myTopnav">
    <a href="#home" class="active">HOME</a>
    <div class="dropdown">
        <button class="dropbtn">SUBJECTS
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Maths</a>
            <a href="#">Science</a>
            <a href="#">Computing</a>
        </div>
    </div>
    <a href="#commontools">COMMON TOOLS</a>
    <a href="#worksheets">WORKSHEETS</a>
    <a href="#about">ABOUT</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<div class="footer">
    <div class="footer-left">
        <h6 style = "text-align:center;"> LEARN MORE </h6>
        > About us <br>
        > Donations <br>
    </div>

    <div class="footer-center">
        <h6 style = "text-align:center;"> CONNECT WITH US ON</h6>
        <img src="https://img.icons8.com/fluency/28/000000/send-mass-email.png"> Email
        <img src="https://img.icons8.com/fluency/28/000000/youtube-play.png"/> YouTube <br>
        <img src="https://img.icons8.com/fluency/28/000000/instagram-new.png"/> Instagram
        <img src="https://img.icons8.com/fluency/28/000000/facebook-circled.png"/> FaceBook
        <br>
    </div>

    <div class="footer-right">

        <img src="https://img.icons8.com/fluency/28/000000/chat-message.png"/> <br>
        <img src="https://img.icons8.com/fluency/48/000000/chatbot.png" style="margin-left:60px">

    </div>

<div class="copyright">
        <h6> All Rights Reserved. Designed and Developed by Rahumath Rumy </h6>
</div>
</div>


<script>
    function myFunction() {
        let x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

</body>
</html>
