<!DOCTYPE HTML>
{% load static  %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width,1.0">
    <title>ExploreEdTech</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
    .bg-img{
        background-image: url({% static 'images/bgt.png' %});
        background-size: 1450px 750px;
        line-height :15px;
    }
</style>

<body class="bg-img">

<!--<h1>hey {{name}}</h1>
<p> this is my first python project</p> -->

<div class="header">
    <a href="#home"> <img src = "{% static 'images/XET logo.png' %}" alt = "logo" > </a>
    <div class="header-right">
    <a class="links" href="accounts" >SignUp</a>
    <a class="links" href="login">Login</a>
    </div>
</div>

<div class="topnav" id="myTopnav">
    <a href="#home" class="active">HOME</a>
    <div class="dropdown">
        <button class="dropbtn">SUBJECTS
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Maths</a>
            <a href="#">Science</a>
            <a href="#">Computing</a>
        </div>
    </div>
    <a href="#commontools">COMMON TOOLS</a>
    <a href="#worksheets">WORKSHEETS</a>
    <a href="#about">ABOUT</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<div>
    blah blah blha
</div>

<footer>
    <div class="content">
        <div class="left box">
            <div class="first">
                <div class="topic">LEARN MORE</div>
                <p> > About us <br> <br>
                    > Donations <br></p>
            </div>
        </div>

        <div class="middle">
            <div class="topic">CONNECT WITH US ON</div>
            <img src="https://img.icons8.com/fluency/38/000000/send-mass-email.png" style="margin-right:30px;">
            <img src="https://img.icons8.com/fluency/38/000000/youtube-play.png"/>  <br>
            <img src="https://img.icons8.com/fluency/38/000000/instagram-new.png" style="margin-right:30px;">
            <img src="https://img.icons8.com/fluency/38/000000/facebook-circled.png"/>
        </div>

        <div class="third">
            <img src="{% static 'images/chatbot (1).png' %}" alt = "chatbot" class="chatbot">
        </div>

        <div class="bottom">
            All Rights Reserved. Designed and Developed by Rahumath Rumy
        </div>
    </div>
</footer>



<script>
    function myFunction() {
        let x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

</body>
</html>
