<!DOCTYPE HTML>
{% load socialaccount %}
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width,1.0">
    <title>Login </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
</head>
<style>
    .bg-img{
        background-image:url("{% static 'images/gridbg.png' %}");
        background-size: 1300px 600px;
        line-height :15px;
        background-size: cover;
        background-position: left;
    }

</style>
<body class="bg-img">

{% include "msg.html" %}

<div class=signup>
    <img src="{% static 'images/XET logo.png' %}" alt = "logo" class="logo"></img>

    <h1> Hey There! </h1>
    <h1> Login to <span style="color: #2C0C3D"> XPLORE </span>  more  <span style="color: #2C0C3D"> EDTECH TOOLS!  </span>
        <br>
        <br>

        <a href = "{%  provider_login_url 'google' %}" class="google-btn">   Login with Google </a>

        <br>
        <br>
        OR </H1>
    <br>

    <form method="POST" action="">
        {% csrf_token %}

         <input type="text" placeholder="USERNAME" name="username" style="padding-left:20px ; font-family:work sans;"required>
        <span class="bar"></span>
        <br>
        <br>
        <input type="password" placeholder="password" name="password"required>
        <span class="bar"></span>

        <br>
        <H6 style="color:#BBBBBB; font-family: roboto; text-align: center; margin-top:8px;">  Forgot Password? </H6>
        <button type=""submit class="submitbtn" style="margin-left:135px;"> LOGIN  </button>

        <button onclick="window.location.href='http://127.0.0.1:8000 '" class="cancelbtn" > CANCEL</button>
        <br>
        <br>
        <br>
        <h6> DON'T HAVE AN ACCOUNT ? <a href="accounts"> SIGNUP </a> </h6>
    </form>

</div>
</body>

</html>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = " ";
    };
</script>

<script>
    //using vanilla javascript placholders are entered
    const form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Username';
    form_fields[3].placeholder = 'Password';

    for (const field in form_fields){
        form_fields[field].className += 'form-control'
    }

</script>

<script>
    setTimeout(function (){
        if ($('#msg').length > 0){
            $('#msg').remove();
        }
    }, 2000)
</script>