<!DOCTYPE HTML>
{% load socialaccount %}
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width,1.0">
    <link rel ="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>Your Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
</head>
<body>
<div class="header">
    <a href="#home"> <img src = "{% static 'images/XET logo.png' %}" alt = "logo" > </a>
    <div class="header-right">
        <p> Hey, {{ request.user }} !</p>
    <a class="links" href="{%  url 'logout' %}" > Logout </a>
</div>
</div>

<div class="topnav">
    <a href="#home" style="text-decoration: none; padding-left: 150px; font-size: 20px;"> EDUCATOR DASHBOARD  </a>
</div>

{#{{ prof }}#}

</body>
</html>