<!DOCTYPE HTML>
{% load socialaccount %}
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width,1.0">
    <title>Your Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
</head>
<body>
<h1> hey there!</h1>

{%  include "msg.html" %}

<script>
    setTimeout(function(){
        if ($('msg').length > 0){
            $('msg').remove();
        }
    }, 5000)
</script>

</body>
</html>