<!DOCTYPE HTML>
{% load socialaccount %}
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width,1.0">
    <link rel ="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>Your Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
</head>
<body>
<div class="header">
    <a href="#home"> <img src = "{% static 'images/XET logo.png' %}" alt = "logo" > </a>
    <div class="header-right">
        <p> Hey, {{ request.user }} !</p>
    <a class="links" href="{%  url 'logout' %}" > Logout </a>
</div>
</div>

<div class="topnav">
    <a href="#home" style="text-decoration: none; padding-left: 150px; font-size: 20px;"> EDUCATOR DASHBOARD  </a>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'worksheet' %}">&#x2190; Continue Shopping</a>

            <br>
            <br>
{#            <table class="table">#}
{#                <tr>#}
{#                    <th><h5>Items: <strong>3</strong></h5></th>#}
{#                    <th><h5>Total:<strong> $42</strong></h5></th>#}
{#                    <th>#}
{#                        <a  style="float:right; margin:5px;" class="btn btn-success" href="checkout" >Checkout</a>#}
{#                    </th>#}
{#                </tr>#}
{#            </table>#}
{##}
{#        </div>#}
{##}
{#        <br>#}
{#        <div class="box-element">#}
{#            <div class="cart-row">#}
{#                <div style="flex:2"></div>#}
{#                <div style="flex:2"><strong>Item</strong></div>#}
{#                <div style="flex:1"><strong>Price</strong></div>#}
{#                <div style="flex:1"><strong>Total</strong></div>#}
{#            </div>#}
{##}
{#            <div class="cart-row">#}
{#                <div style="flex:2"><img class="row-image" src="{% static 'images/placeholder.png' %}"></div>#}
{#                <div style="flex:2"><p>Product 1</p></div>#}
{#                <div style="flex:1"><p>$20</p></div>#}
{#                <div style="flex:1"><p>$32</p></div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
            <form method="POST" action="">
                {% csrf_token %}
                {{ prof.username }}
{#                <span class="bar"></span>#}
                <br>
                <br>
                <input type="text" value ="{{ form.email }}">
                {{ form.email}}
                <span class="bar"></span>
                <br>
                <br>
                {{ form.password1 }}
                <span class="bar"></span>
                <br>
                <br>
                {{ form.password2 }}
                <span class="bar"></span>

                {{ prof.subject }}
                <span class="bar"></span>

                <button type=""submit class="submitbtn" style="margin-left:135px;"> Sign Up</button>

                <button onclick="window.location.href='http://127.0.0.1:8000 '" class="cancelbtn" > CANCEL</button>
            </form>

            {{form.errors}}
</div>
    </div>
</div>

<div>
    <a href ="password_change/"> change password? </a>
</div>
</body>

<script>
    //using vanilla javascript placholders are entered
    const form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Username';
    form_fields[2].placeholder = 'Email';
    form_fields[3].placeholder = 'Password';
    form_fields[4].placeholder = 'Confirm Password';
    form_fields[5].placeholder = 'Confirm Password';

    for (const field in form_fields){
        form_fields[field].className += 'form-control'
    }

</script>

</html>