<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 sign up
<form action="">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <input type="text" placeholder="USERNAME" name="username" style="padding-left:20px ; font-family:work sans;"required>
                <span class="bar"></span>
                <br>
                <br>
                <input type="password" placeholder="password" name="password"required>
                <span class="bar"></span>

            </div>
        </div>
    </div>
</form>


</body>
</html>