<!DOCTYPE HTML>
{% load static  %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width,1.0">
    <link rel ="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>Donate</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
    .bg-img{
        background-image: url({% static 'images/bgt.png' %});
        background-size: 1450px 750px;
        line-height :15px;
    }
</style>

<body bgcolor="white">

<div class="header">
    <a href="#home"> <img src = "{% static 'images/XET logo.png' %}" alt = "logo" > </a>
    <div class="header-right">
        {% if user.is_authenticated %}
            <a class="links" href="profile">Profile</a>
            <a class="links" href="{%  url 'logout' %}">LogOut</a>

        {% else %}
            <a class="links" href="accounts" >SignUp</a>
            <a class="links" href="login">Login</a>
        {% endif %}
    </div>
</div>

<div class="topnav" id="myTopnav">
    <a href="http://127.0.0.1:8000/">HOME</a>
    <div class="dropdown">
        <button class="dropbtn">SUBJECTS
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="math">Maths</a>
            <a href="science">Science</a>
            <a href="preschool">Pre-school</a>
            <a href="language">Language</a>
        </div>
    </div>
    <a href="common">COMMON TOOLS</a>
    <a href="worksheet">WORKSHEETS</a>
    <a href="about" class="active" style="width:80px; height:20px; margin-top:2px;"> DONATE</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

&nbsp
&nbsp
<div class="row">
    <div class="column"
        <div class="card">
            <div class="container">
                <h2 class="abt-topic">LETS HELP A STUDENT</h2>
                <p>Do you have worksheets that you would like to contribute to your peers around the globe? <br>
                    Do you want to be part of a good cause and help the underprivileged students
                    by giving them the basic need? <br>
                    Well, click below and upload worksheets that you'll have and help educate a child!
                </p>
            </div>
        </div>

    <div class="column">
        <div class="card">
            <div class="container" id="zoomIn" style="padding-left:150px;">
                <img src = "{% static 'images/pic.png' %}" alt = "logo" class="image">
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <form enctype="multipart/form-data" method="POST" class="post-form" style="font-family: Roboto , Work Sans">
        {% csrf_token %}
        <table>
            <thead>
            <tr>
                <th scope="col">YOUR NAME</th>
                <th scope="col">SCHOOL</th>
                <th scope="col">EMAIL</th>
                <th scope="col">SUBJECT</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ form.name}}</td>
                <td>{{ form.school}}</td>
                <td>{{ form.email}}</td>
                <td>{{ form.subject}}</td>
            </tr>
            <thead>
            <tr>

                <th scope="col">CONCEPT</th>
                <th scope="col">GRADE-LEVEL</th>
                <th scope="col">UPLOAD FILE</th>

            </tr>
            <tr>
                <td>{{ form.concept}}</td>
                <td>{{ form.grade_level}}</td>
                <td style="padding-left:70px;">{{ form.filepath}}</td>
                <td> <input type="image" id="image" alt="submit"
                            src="{% static 'images/submit.png' %}"> </td>
            </tr>
            </thead>
            </tbody>
        </table>
    </form>

    <footer>
        <div class="content">
            <div class="left box">
                <div class="first">
                    <br>
                    <div class="topic">LEARN MORE</div> <br>
                    > <a href="about" style="padding-left:10px; color:white;  text-decoration: none;">  About us </a> <br> <br>
                    > <a href="donations" style="padding-left:10px; color:white;  text-decoration: none;">  Donations <br> </a>
                </div>
            </div>

            <div class="middle">
                <br>
                <div class="topic" style="padding-left:20px;">CONNECT WITH US ON</div> <br>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="third">
                <script src="{% static 'scripts/chatbot.js' %}" type="text/javascript" style="padding-bottom: 100px">  </script>
            </div>

            <div class="bottom">
                All Rights Reserved. Designed and Developed by Rahumath Rumy
            </div>
        </div>
    </footer>

    <script>
        function myFunction() {
            let x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

</body>
</html>
